# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/

# База данных
*.db
*.db-journal
data/

# Переменные окружения
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Логи
*.log
*.tmp

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
